body{
    padding-top: 70px;
    padding-bottom: 20px;
    background-image: url('./images/henry-lim-b1x3JGmF-ps-unsplash.jpg');
    background-size: cover;
    color: rgb(154, 213, 202);
}

#register{
    text-align: center;
    width: 50%;
    padding: 20px;
    border-style: ridge;
    background-color: rgb(40, 75, 99, 0.5);
}

#createForm{
    width: 50%;
    margin: auto;
}

#login{
    text-align: center;
    width: 50%;
    padding: 20px;
    border-style: ridge;
    background-color: rgb(40, 75, 99, 0.5);
}

#loginForm{
    width: 50%;
    margin: auto;
}

#new{
    text-align: center;
    width: 50%;
    padding: 20px;
    border-style: ridge;
    background-color: rgb(40, 75, 99, 0.5);
}

#edit{
    text-align: center;
    width: 50%;
    padding: 20px;
    border-style: ridge;
    background-color: rgb(40, 75, 99, 0.5);
}

#newWorkout{
    width: 50%;
    margin: auto;
}

#editWorkout{
    width: 50%;
    margin: auto;
}

#userShow h1{
    text-align: center;
}

.shExercises{
    border-style: ridge;
    width: 800px;
    height: 50vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgb(40, 75, 99, 0.5);
}

.shExercises::-webkit-scrollbar{
    display: none;
}

.shExercises h2{
    text-align: center;
}

#boardNew{
    text-align: center;
    width: 50%;
    padding: 20px;
    border-style: ridge;
    background-color: rgb(40, 75, 99, 0.5);
}

#boardEdit{
    text-align: center;
    width: 50%;
    padding: 20px;
    border-style: ridge;
    background-color: rgb(40, 75, 99, 0.5);
}

#boardNewForm{
    width: 50%;
    margin: auto;
}

#boardEditForm{
    width: 50%;
    margin: auto;
}

#boardHome{
    text-align: center;
}

.boardPosts{
    height: 33vh;
    overflow: hidden;
    border-style: ridge;
    background-color: rgb(40, 75, 99, 0.5);
}

.boardPosts a{
    color: rgb(255, 209, 186);
}

#boardShow{
    padding: 20px;
    border-style: ridge;
    background-color: rgb(40, 75, 99, 0.5);
}

#boardShow h1{
    text-align: center;
}

#calories{
    text-align: center;
}

#content{
    width: 80%;
    margin: auto;
}

#commentBox{
    width: 50%;
}

#commentBox h4{
    text-align: center;
}

.comment{
    width: 75%;
    margin: auto;
}

#boardEdit h1{
    text-align: center;
}