body{
    padding-top: 70px;
    padding-bottom: 20px;
}

#register{
    text-align: center;
}

#createForm{
    width: 50%;
    margin: auto;
}

#login{
    text-align: center;
}

#loginForm{
    width: 50%;
    margin: auto;
}

#new{
    text-align: center;
}

#newWorkout{
    width: 50%;
    margin: auto
}

#userShow h1{
    text-align: center;
}

.shExercises{
    border-style: double;
    width: 800px;
    height: 50vh;
    overflow: scroll;
}

.shExercises::-webkit-scrollbar{
    display: none;
}

.shExercises h2{
    text-align: center;
}

#boardNew{
    text-align: center;
}

#boardNewForm{
    width: 50%;
    margin: auto;
}

#boardHome{
    text-align: center;
}

.boardPosts{
    height: 33vh;
    overflow: hidden;
}